aioopenssl==0.6.0
aiosasl==0.5.0
aioxmpp==0.13.2
Babel==2.10.1
backports.zoneinfo==0.2.1
CacheControl==0.12.11
cachetools==5.1.0
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==37.0.2
dnspython==2.2.1
grpcio==1.46.1
grpcio-status==1.46.1
httplib2==0.20.4
idna==3.3
lxml==4.8.0
msgpack==1.0.3
multidict==6.0.2
proto-plus==1.20.4
protobuf==3.20.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.21.0
pycparser==2.21
pydbus==0.6.0
PyGObject==3.42.1
PyGObject-stubs==0.0.8
pyOpenSSL==22.0.0
pyparsing==3.0.9
python-dotenv==0.20.0
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
rsa==4.8
six==1.16.0
sortedcollections==2.1.0
sortedcontainers==2.4.0
tzdata==2022.1
tzlocal==4.2
uritemplate==4.1.1
urllib3==1.26.9
